/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'Major Mono Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/majormonodisplay/v5/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7DXeR.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
    @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/juliussansone/v9/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsX.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    color: #333;
  }

    .wrapper  {
      display: grid;
      grid-template-rows: 4em 8em auto 20em;
      grid-template-columns: auto 59.9em auto;
      margin: 1em;
      font-family: 'Montserrat', 'Open Sans', sans-serif;
    }

    body p {
      font-size: 0.8em;
      padding-top: 0.8em;
      line-height: 1.4em;
    }

    body h2 {
      font-size: 1em;
      line-height: 1.4em;
      font-weight: 700;
    }

      header {
        grid-column: 2 / 3;
        grid-row: 1 / 2;    
      }


        nav ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            margin-top: 2%;
        }

        nav li {
            display: flex;
            margin-left: 7%;
            
        }

        nav a {
            text-decoration: none;
            color: #333;
            font-family:'Major Mono Display', 'Open Sans', sans-serif;
            font-size: 1.8em;
            padding-bottom: 5px;
        }

          /*animation on navigation bar links*/      
          .hvr-underline-from-left {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px  rgba(0, 0, 0, 0);
            position: relative;
            overflow: hidden;
          }
          .hvr-underline-from-left:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: rgba(51, 51, 51, 0.5);
            height: 1px;
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
          }
          .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
            right: 0;
          }

          .currentPage {
            border-bottom: 1px solid rgba(51, 51, 51, 0.5);
            
          }
          /*end of animation*/  

      .pageTitle {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        font-family: 'Major Mono Display';
        font-size: 4em;
      }
      .secondaryPageTitle {
        font-family: 'Major Mono Display';
        font-size: 1.5em;
        margin: 1em 0 0.5em 0;
      }
      
      .italic {
        font-style: italic;
        text-decoration: underline;
        cursor: pointer;
      }

      /* div class to standardize grid template on all pages */
      .content {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        display: grid;
      }

        /*HOME PAGE*/
        #portfolio {
          display: grid;
          grid-row: 2 / 4;
          grid-column: 2 / 3;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          align-items: start;
          justify-content: center;
          gap: 1.3em;
          margin-top: 3em;
        }


          .imgContainer {
              position: relative;
              width: 14em;
              height: 14em;
              align-self: center;
              justify-self: center;
             
          }

          .valpo {
            display: grid;
            width: 60em;
              height: 30em;
              grid-column: 1 / 5;
              grid-template-columns: 1fr 1fr;
          }

          .valpo .illustration, .valpo .colorFilter {
            width: 30em;
            height: 30em;
            background-color: rgb(243,196,28, 0);

          }

          .albumCover {
            grid-column: 1/2;
          }
          .albumDescription {
            grid-column: 2/3;
            background: linear-gradient(90deg, #EEDABA 29.17%, rgba(232, 205, 158, 0.13) 89.06%, rgba(241, 227, 205, 0.0416667) 99.99%);
            opacity: 0.8;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 1.3em;
          }
          
          .illustration {
            cursor: pointer;
            width: 14em;
            height: 14em;
            z-index: 1;
            position: absolute;
            filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.4));
            border-radius: 0.3em;
        }
        .biggerImage {
          filter: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

          .colorFilter {
            width: 14em;
            height: 14em;
            background-color: rgb(243,196,28, 0.2);
            z-index: 2;
            position: absolute;
          }

            .hidden {
              position: relative;
              width: 14em;
              height: 14em;
              align-self: center;
              justify-self: center;
              z-index: 3;
              opacity: 0;
            }

            .albumTitle{
              position: absolute;
              top: 9em;
              height: 4.3em;
              width: 14em;
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: center;
              flex-direction: column;
            }
            .albumTitle h2, .albumTitle p {
              color: #E8E8E8;
              margin-left: 5%;
              line-height: 1.2em;
            }

        
            .hidden:hover {
               opacity: 1;
               transition-duration: 0.5s;
            }

            .colorFilter:hover {
              background-color: rgb(243,196,28, 0);
              transition-duration: 0.5s;
           }

                 
              

          /*VIDEO PAGE & LICENSING PAGE*/
            .video, .licensing {
              margin-bottom: 5em;
            }
              .video iframe {
                width: 40em;
                height: 22em;
                border-radius: 0.3em;
              }

              .licensing iframe {
                width: 100%;
                height: 31em;
              }


         

          /*RECORDS PAGE*/
              .records {
                grid-template-columns: 1fr 2fr;
                gap: 1.3em;
              }

              
              .records iframe {
                border: 0; 
                width: 16em; 
                height: 16em;
                border-radius: 0.3em;
              }
              
              .records h2 {
                margin-bottom: 0.5em;
                margin-top: 2em;
              }
              h2.first-h2 {
                margin-top: 0;
              }
              
              .record-titles {
                padding-top: 3em;
              }
              .first-titles {
                padding-top: 1em;
              }

          /*CONTACT PAGE*/
            
          .contact {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            gap: 1.3em;
          }    
          .contact-img {
            width: 22em;
            height: 22em;
            filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.4));
            border-radius: 0.3em;
        }
        .formulaire {
          background-color: rgba(238, 238, 234, 0.3);
          border: 1px solid rgba(0, 8, 16, 0.3);
          border-radius: 0.6em;
          width: 60em;
          height: 40em;
          text-align: center;
          margin-top: 1em;
        }
        .formulaire-input {
          width: 50em;
          font-family: 'Montserrat';
          margin-top: 3em;
          height: 2.5em;
          border: 1px solid rgba(0, 8, 16, 0.3);
          border-radius: 0.2em;
        }
        .formulaire-input:first-child {
          margin-top: 5em;
        }
        
        .formulaire-button {
          background-color: #3D4C4E;
          box-shadow: 1px 3px 6px #3D4C4E;
          border-radius: 6px;
          height: 3em;
          width: 8em;
          color: #FFFEFA;
          font-family: 'Montserrat';
          margin-top: 2em;
          float: right;
          margin-right: 11em;
        }
      footer {
        grid-column: 2 / 3;
        grid-row: 4 / 5;          
      }

        #footer {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 20%;
          vertical-align: bottom;
        }

          #name p{
              font-family:'Major Mono Display', 'Open Sans', sans-serif;
              font-size: 1.8em;
              text-align: center;
              margin-bottom: 1em;
          }

          #name {
            border-bottom: 0.03em solid rgba(51,51,51,0.3);
            width: 50%
          }

          #socialMedia {
            margin: 2% 0 3% 0;
          }
          #socialMedia a, #socialMedia iframe {
            margin: 0 1.5em;
          }

          #brand{
              font-family:'Montserrat', 'Open Sans', sans-serif;
              font-size: 0.7em;
          }

          .icon {
            border-radius: 0.5em;
          }
      







