/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'Major Mono Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/majormonodisplay/v5/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7DXeR.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
    @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    color: #333;
  }

    .wrapper  {
      display: grid;
      grid-template-rows: 10em auto 20em;
      grid-template-columns: auto 70em auto;
    }



      header {
        grid-column: 2 / 3;
        grid-row: 1 / 2;    
      }


        nav ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            margin-top: 3%;
        }

        nav li {
            display: flex;
            margin-left: 4%;
        }

        nav a {
            text-decoration: none;
            color: #333;
            font-family:'Major Mono Display', 'Open Sans', sans-serif;
            font-size: 1.3em;
        }


          /*animation on navigation bar links*/      
          .hvr-underline-from-left {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px  rgba(0, 0, 0, 0);
            position: relative;
            overflow: hidden;
          }
          .hvr-underline-from-left:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: rgba(51, 51, 51, 0.5);
            height: 1px;
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
          }
          .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
            right: 0;
          }

          .currentPage {
            border-bottom: 1px solid rgba(51, 51, 51, 0.5);
            
          }
          /*end of animation*/  

      /* div class to standardize grid template on all pages */
      .content {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: grid;   
      }

        #homeContent {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          align-items: start;
          justify-content: center;
          gap: 2em;
        }

          .imgContainer {
              position: relative;
              width: 16em;
              height: 16em;
              align-self: center;
              justify-self: center;
          }

            .colorFilter {
                width: 16em;
                height: 16em;
                background-color: #F3C41C;
                opacity: 0.2;
                z-index: 2;
                position: absolute;

            }

            .illustration {
                cursor: pointer;
                width: 16em;
                height: 16em;
                z-index: 1;
                position: absolute;
                filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.4));
            }

      footer {
        grid-column: 2 / 3;
        grid-row: 3 / 4;          
      }

        #footer {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 10%;
          vertical-align: bottom;
        }

          #name p{
              font-family:'Major Mono Display', 'Open Sans', sans-serif;
              font-size: 1.2em;
              text-align: center;
              margin-bottom: 2%;
          }

          #name {
            border-bottom: 0.03em solid rgba(51,51,51,0.3);
            width: 100%
          }

          #socialMedia {
            margin: 2% 0 3% 0;
          }
          #socialMedia a, #socialMedia iframe {
            margin: 0 1.5em;
          }

          #brand{
              font-family:'Montserrat', 'Open Sans', sans-serif;
              font-size: 0.8em;
          }





